# ============================================================
#  ЧитайСтрана — настройки окружения
#  Скопируй этот файл как .env и заполни своими данными
# ============================================================

# Порт сервера
PORT=3000

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bookstore
DB_USER=postgres
DB_PASSWORD=1903

# JWT 
JWT_SECRET=my_super_secret_key_12345

# URL фронтенда (для CORS)
FRONTEND_URL=http://localhost:3000
